.hero{
    padding:0px 0px 64px 0px;
    width: 100%;
    min-height:105vh;
    margin: 0px;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='780' viewBox='0 0 1440 780' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1440V604.063C1245.5 903.578 901 756.086 0 633.26V0Z' fill='%231F7697'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
} 


.cardCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs-stack p{
    font-size: 20px;
    line-height: 33px;
    color:#fff;
    font-weight: 300;
}

.aboutUs-stack h1{
    font-size: 46px;
    line-height: 69px;
    color:#fff;
    font-family:"PoppinsBold", sans-serif;
}

.aboutUs-stack h2{
    font-size: 30px;
    line-height: 45px;
    color:#fff;
    font-family:"PoppinsMedium", sans-serif;
}

.hero-container{
    position: relative;
    
}

.img-fish{
    position: absolute;
    top:-50px;
    left:-10px;
    
}


@media screen and (width<=992px) {
  .hero{
    padding-top: 150px;
  }

  .img-section{
    margin-top: 24px;
  }
}

@media screen and (width<=768px){
    .hero{
        padding-top: 150px;
    }

    .aboutUs-stack p{
        font-size: 16px;
        line-height: 33px;
        color:#fff;
        font-weight: 300;
    }
    
    .aboutUs-stack h1{
        font-size: 36px;
        line-height: 69px;
        color:#fff;
        font-family:"PoppinsBold", sans-serif;
    }
    
    .aboutUs-stack h2{
        font-size: 26px;
        line-height: 30px;
        color:#fff;
        font-family:"PoppinsMedium", sans-serif;
    }

    .fish{
        width:80px;
        

    }

    .img-fish{
        top: -25px;
        left:10px;
    }

}

@media screen and (width <=576px){
    .hero{
        padding-top: 100px;
    }
}
