
.story-bg {
    background-color: #F9F9F9;
    min-height: 100vh;
    
}

.col-spacing {
    margin-bottom: 100px;
}

.col-spacing:last-child {
    margin-bottom: 160px;
}

.story-heading {
    text-align: center;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'PoppinsBold', sans-serif
}

.story-img {
    display: block;
    margin: 0 auto;
}

.story-content-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.left-story-content {
    font-size: 20px;
    padding-right: 75px;
    padding-left: 145px;
    margin-top: 1rem;
}

.right-story-content {
    font-size: 20px;
    padding-left: 75px;
    padding-right: 175px; 
    margin-top: 1rem;
}

@media (max-width: 1395px) and (min-width: 1205px) {
    .left-story-content {
        padding-left: 75px;
    }
}

@media (max-width: 1204px) and (min-width: 1050px) { 
    .right-story-content {
        padding-right: 40px;
    }

    .left-story-content {
        padding-left: 0px;
        padding-right: 0;
    }

    .story-img {
        width: 400px;
    }

    .right-story-img {
        width: 400px;
    }
 }

 @media (max-width: 1204px) {
    .right-story-img {
        display: block;
        margin: 0 auto;
    }
 }


 @media (max-width: 1049px)  { 
    .right-story-content {
        padding-left: 25px;
        padding-right: 0;
        font-size: 17px;
    }

    .left-story-content {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 17px;
    }

    .container {
        max-width: 850px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .story-img {
        width: 360px;
    }

    .right-story-img {
        width: 360px;
    }
 }

 @media (max-width: 767px) {
    .story-heading {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .left-story-content {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .right-story-content {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .story-img {
        width: 250px;
    }

    .right-story-img {
        width: 250px;
    }

    .col-spacing {
        margin-bottom: 65px !important;
    }
 }

 