/* Poppins Font Family */
@font-face {
  font-family: PoppinsBlack;
  src: url(./assets/fonts/Poppins/Poppins-Black.otf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./assets/fonts/Poppins/Poppins-Bold.otf);
}

@font-face {
  font-family: PoppinsExtraBold;
  src: url(./assets/fonts/Poppins/Poppins-ExtraBold.otf);
}

@font-face {
  font-family: PoppinsExtraLight;
  src: url(./assets/fonts/Poppins/Poppins-ExtraLight.otf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(./assets/fonts/Poppins/Poppins-Light.otf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(./assets/fonts/Poppins/Poppins-Medium.otf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(./assets/fonts/Poppins/Poppins-Regular.otf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.otf);
}

@font-face {
  font-family: PoppinsThin;
  src: url(./assets/fonts/Poppins/Poppins-Thin.otf);
}

body {
  margin: 0;
  font-family: 'PoppinsRegular', sans-serif;
}

:root{
  --teal: #2CA3D1;
  --hoverTeal: #1F7697;
  --visionCard: #EDC5FF;
  --missionCard: #C2EEFF;
}